/* Botones de colores */
.c1
{
    background: url(Colores/c1.png);
    width: 20px;
    height: 20px;
}

.c2
{
background: url(Colores/c2.png);
width: 20px;
height: 20px;
}

.c3
{
    background: url(Colores/c3.png);
    width: 20px;
    height: 20px;
}

.c4
{
    background: url(Colores/c4.png);
    width: 20px;
    height: 20px;
}

.c5 
{
    background: url(Colores/c5.png);
    width: 20px;
    height: 20px;
}

.c6
{
    background: url(Colores/c6.png);
    width: 20px;
    height: 20px;
}

.c7
{
    background: url(Colores/c7.png);
    width: 20px;
    height: 20px;
}

.c8
{
    background: url(Colores/c8.png);
    width: 20px;
    height: 20px;
}

.c9
{
    background: url(Colores/c9.png);
    width: 20px;
    height: 20px;
}

.c10
{
    background: url(Colores/c10.png);
    width: 20px;
    height: 20px;
}

.c11
{
    background: url(Colores/c11.png);
    width: 20px;
    height: 20px;
}

.c12
{
    background: url(Colores/c12.png);
    width: 20px;
    height: 20px;
}

.c13
{
    background: url(Colores/c13.png);
    width: 20px;
    height: 20px;
}

.c14
{
    background: url(Colores/c14.png);
    width: 20px;
    height: 20px;
}

.c15
{
    background: url(Colores/c15.png);
    width: 20px;
    height: 20px;
}

.c16
{
    background: url(Colores/c16.png);
    width: 20px;
    height: 20px;
}

.c17
{
    background: url(Colores/c17.png);
    width: 20px;
    height: 20px;
}

.c18
{
    background: url(Colores/c18.png);
    width: 20px;
    height: 20px;
}

.c19
{
    background: url(Colores/c19.png);
    width: 20px;
    height: 20px;
}

.c20
{
    background: url(Colores/c20.png);
    width: 20px;
    height: 20px;
}

.c21
{
    background: url(Colores/c21.png);
    width: 20px;
    height: 20px;
}


.c22
{
    background: url(Colores/c22.png);
    width: 20px;
    height: 20px;
}

.c23
{
    background: url(Colores/c23.png);
    width: 20px;
    height: 20px;
}

.c24
{
    background: url(Colores/c24.png);
    width: 20px;
    height: 20px;
}

.c25
{
    background: url(Colores/c25.png);
    width: 20px;
    height: 20px;
}

.c26
{
    background: url(Colores/c26.png);
    width: 20px;
    height: 20px;
}

.c27
{
    background: url(Colores/c27.png);
    width: 20px;
    height: 20px;
}

.c28
{
    background: url(Colores/c28.png);
    width: 20px;
    height: 20px;
}

.c29
{
    background: url(Colores/c29.png);
    width: 20px;
    height: 20px;
}

.c30
{
    background: url(Colores/c30.png);
    width: 20px;
    height: 20px;
}

.c31
{
    background: url(Colores/c31.png);
    width: 20px;
    height: 20px;
}

.c32
{
    background: url(Colores/c32.png);
    width: 20px;
    height: 20px;
}

.c33
{
    background: url(Colores/c33.png);
    width: 20px;
    height: 20px;
}

.c34
{
    background: url(Colores/c34.png);
    width: 20px;
    height: 20px;
}

.c35
{
    background: url(Colores/c35.png);
    width: 20px;
    height: 20px;
}

.c36
{
    background: url(Colores/c36.png);
    width: 20px;
    height: 20px;
}

.c37
{
    background: url(Colores/c37.png);
    width: 20px;
    height: 20px;
}

.c38
{
    background: url(Colores/c38.png);
    width: 20px;
    height: 20px;
}

.c39
{
    background: url(Colores/c39.png);
    width: 20px;
    height: 20px;
}

.c40
{
    background: url(Colores/c40.png);
    width: 20px;
    height: 20px;
}

.c41
{
    background: url(Colores/c41.png);
    width: 20px;
    height: 20px;
}

.c42
{
    background: url(Colores/c42.png);
    width: 20px;
    height: 20px;
}

.c43
{
    background: url(Colores/c43.png);
    width: 20px;
    height: 20px;
}

.c44
{
    background: url(Colores/c44.png);
    width: 20px;
    height: 20px;
}

.c45
{
    background: url(Colores/c45.png);
    width: 20px;
    height: 20px;
}

.c46
{
    background: url(Colores/c46.png);
    width: 20px;
    height: 20px;
}

.c47
{

    background: url(Colores/c47.png);
    width: 20px;
    height: 20px;
}

.c48
{

    background: url(Colores/c48.png);
    width: 20px;
    height: 20px;
}