*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background-color: rgb(208, 214, 221);
}


img{
    max-width: 100%;
    max-height: 120%;
}

/*==========================================*/
/* css para el menu */

.title{
	width: 100%;
	background: rgb(22, 138, 153);
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1{
	color: #fff;
	font-size: 70px;
	font-weight: 200;
    text-align: center;
    font-family: 'Anton', sans-serif;
}





/*----------------------------------------------------------------------- */
/*Css para el movimiento */

.centrado
 {
     width:100%;
     max-width:100px;
     margin:auto;
     overflow:hidden;
 }

 section#im
 {
     width: 100%;
     height: 100%;
	 position: sticky;
 }

 section article
 {

     margin-left: 10%;
     margin-right: 9%;
     margin-top: 1%;
     width:80%;
     height: 100%;
 }


.slides
 {
     width: 100%;
     margin:auto;
     overflow: hidden;

 }

 .slides ul
 {
     display: flex;
     padding:0;
     width:300%;

     animation: cambio 20s infinite ;
     animation-direction: inherit;
     animation-timing-function: ease-in-out;
     animation-duration: 25s;
   
     
     
 }

 .slides li
 {
     list-style: none;
 }

 .slides img
 {
     width:100%;
     
 }

 .movimiento
 {
	 margin-top: 5%;
 }

 @keyframes cambio
 {
     0% { margin-left:0%}
     33% { margin-left:0%}

     34% { margin-left:-100%}
     67% { margin-left:-100%}

     68% { margin-left:-200%}
     100% { margin-left:-200%}

 }

 /* Header */
 .portada
{
    width: 100%;
    height: 100%;
}

.inicial
{
    width: 100%;
    height: 350px;
}
 